<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/styles/main.css">
  <title>Главная страница</title>
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <div id="app">
    <div class="wrapper">
      <!-- Sidebar -->
      <nav id="sidebar">
          <div class="sidebar-header">
              <h3>Кадровая служба</h3>
          </div>
  
          <ul class="list-unstyled components">
              <p>Навигация</p>
              <li>
                <a href="/staffs" style="color: white">Сотрудники</a>
              </li>
          </ul>
  
      </nav>
      <!-- Page Content -->
      <div id="content">
  
        <button class="btn btn-success" @click="onOpenCreateStaff">Завести личное дело</button>
        <button class="btn btn-success">Перевести сотрудника</button>
        <button class="btn btn-error">Уволить сотрудника</button>
          <div class="table-staffs">
            <table class="" v-if="!isLoad">
              <thead>
                <tr>
                  <th scope="col">Номер сотрудника</th>
                  <th scope="col">Имя</th>
                  <th scope="col">Фамилия</th>
                  <th scope="col">Отчество</th>
                  <th scope="col">Должность</th>
                  <th scope="col">Отдел</th>
                  <th scope="col">Дата назначения</th>
                  <th scope="col">Дата увольнения</th>
                  <th scope="col">Оклад</th>
                  <th scope="col">Индентификатор</th>
                  <th scope="col">Дата рождения</th>
                  <th scope="col">Место рождения</th>
                  <th scope="col">ИНН</th>
                  <th scope="col">Национальность</th>
                  <th scope="col">Паспортные данные</th>
                  <th scope="col">Образование</th>
                  <th scope="col">Место обучения</th>
                  <th scope="col">Семья</th>
                  <th scope="col">Дети</th>
                  <th scope="col">Кол-во детей</th>
                  <th scope="col">Статус работы</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr v-for="staff in staffList">
                  <th>{{ staff.id }}</th>
                  <th>{{ staff.firstName }}</th>
                  <th>{{ staff.secondName }}</th>
                  <th>{{ staff.lastName }}</th>
                  <th>{{ staff.position }}</th>
                  <th>{{ staff.department }}</th>
                  <th>{{ staff.dateEmployment }}</th>
                  <th>{{ staff.dateDismissal }}</th>
                  <th>{{ staff.salary }}</th>
                  <th>{{ staff.identityNumber }}</th>
                  <th>{{ staff.dateBirth }}</th>
                  <th>{{ staff.placeBirtch }}</th>
                  <th>{{ staff.INN }}</th>
                  <th>{{ staff.national }}</th>
                  <th>{{ staff.pasportData }}</th>
                  <th>{{ staff.education }}</th>
                  <th>{{ staff.educationPlace }}</th>
                  <th>{{ staff.familyStatus }}</th>
                  <th>{{ staff.childStatus }}</th>
                  <th>{{ staff.countChild }}</th>
                  <th>{{ staff.workStatus }}</th>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="staff-create" v-if="isCreateStaffOpen">
            <h2>Заведение личного дела сотрудника</h2>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Имя" v-model="formData.firstName">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Фамилия" v-model="formData.secondName">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Отчество" v-model="formData.lastName">
              </div>
            </div>
            <div class="row">
              <label>Отдел</label>
              <select class="custom-select" aria-label="Отдел" v-model="formData.departmentId">
                <option v-for="(department, key) in formCreateData.departments" :value="department.department_id" :key="key">
                  {{ department.department }}
                </option>
              </select>
            </div>
            <div class="row">
              <label>Должность</label>
              <select class="custom-select" aria-label="Должность" v-model="formData.positionId">
                <option 
                  v-for="(position, key) in positions"
                  :value="position.position_id">{{ position.position }}</option>
              </select>
            </div>
            <div class="row">
              <input type="number" class="form-control" placeholder="Оклад" v-model="formData.salary">
            </div>
            <div class="row">
              <input type="date" class="form-control" placeholder="Дата назначения" v-model="formData.dateEmployment">
            </div>
            <div class="row">
              <input type="text" class="form-control" placeholder="Индентификатор" v-model="formData.identityNumber">
            </div>
            <div class="row">
              <input type="date" class="form-control" placeholder="Дата рождения" v-model="formData.dateBirth">
            </div>
            <div class="row">
              <input type="text" class="form-control" placeholder="Место рождения" v-model="formData.placeBirtch">
            </div>
            <div class="row">
              <input type="text" class="form-control" placeholder="ИНН" class="formData.INN" v-model="formData.INN">
            </div>
            <div class="row">
              <label>Национальность</label>
              <select class="custom-select" aria-label="Национальность" v-model="formData.nationalId">
                <option 
                  v-for="(national, key) in formCreateData.nationals"
                  :value="national.national_id"
                  :key="key"
                  >{{ national.national }}</option>
              </select>
            </div>
            <div class="row">
              <input type="text" class="form-control" placeholder="Серия номер паспорта" v-model="formData.pasportData">
            </div>
            <div class="row">
              <label>Образование</label>
              <select class="custom-select" aria-label="Образование" v-model="formData.educationId">
                <option 
                  v-for="(education, key) in formCreateData.educations"
                  :value="education.education_id"
                  :key="key"
                  >
                    {{ education.education }}
                </option>
              </select>
            </div>
            <div class="row">
              <input type="text" class="form-control" placeholder="Место учёбы" v-model="formData.educationPlace">
            </div>
            <div class="row">
              <label>
                Семья
              </label>
              <select class="custom-select" aria-label="Семья" v-model="formData.familyStatusId">
                <option v-for="(family, key) in formCreateData.familyStatuses" :value="family.family_status_id" :key="key">{{ family.family_status }}</option>
              </select>
            </div>
            <div class="row">
              <label>Дети</label>
              <select class="custom-select" aria-label="Дети" v-model="formData.childStatusId">
                <option v-for="(child, key) in formCreateData.childStatuses"
                  :value="child.child_status_id">{{ child.child_status }}</option>
              </select>
            </div>
            <div class="row">
              <input type="number" class="form-control" placeholder="Количество детей" v-model="formData.countChild">
            </div>
            <div class="row">
              <input type="text" class="form-control" placeholder="Статус работы" v-model="formData.workStatus">
            </div>
            <button class="btn btn-success" @click="onCreateStaff">Завести</button>
            <div class="row">
            </div>
          </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        staffList: [],
        isLoad: true,
        isCreateStaffOpen: false,
        formCreateData: null,
        formData: {
          firstName: '',
          lastName: '',
          secondName: '',
          departmentId: '',
          positionId: '',
          salary: '',
          dateEmployment: '',
          identityNumber: '',
          dateBirth: '',
          placeBirtch: '',
          INN: '',
          nationalId: '',
          pasportData: '',
          educationId: '',
          educationPlace: '',
          familyStatusId: '',
          childStatusId: '',
          countChild: '',
          workStatus: '',
        },
        positions: [],
      },
      methods: {
        loadStaffs() {
          this.isLoad = true;
          axios.get('/api/v1/staffService/staffs')
          .then(({ data }) => {
            this.staffList = data;
          })
          .finally(() => {
            this.isLoad = false;
          })

          axios.get('api/v1/staffService/form_data')
          .then(({ data }) => {
            this.formCreateData = data;
          })
        },
        onOpenCreateStaff() {
          this.isCreateStaffOpen = true
        },
        onCreateStaff() {
          axios.post('/api/v1/staffService/staff/create', this.formData)
          .then(({ data }) => {
            alert('Личное дело заведено')
            this.loadStaffs();
          })
        }
      },
      watch: {
        'formData.departmentId': function() {
          this.formData.positionId = '';
            axios.post('/api/v1/positionService/position/department', { department_id: this.formData.departmentId })
          .then(({ data }) => {
            this.positions = data;
          });
        }
      },
      mounted: function() {
        this.loadStaffs();
      }
    })
  </script>
</body>
</html>