.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  width: 250px;
  height: 100vh;
  background: #7386D5;
  color: #fff;
}

#content {
  overflow: scroll;
  width: calc(100% - 250px);
  padding: 40px
}

.table-staffs {
  width: 3000px;
  overflow-x: auto;
  font-size: 15px;
}

.table-staffs > table, th, td {
  border: 1px solid;
}

.table-staffs > tr, th {
  padding: 10px;
}


.staff-create {
  width: 500px;
  margin-top: 50px;
  margin-left: 30px;
}

.staff-create > .row {
  margin: 10px 0;
}